# Actividad 2_8: 

Descarga los dos ficheros adjuntos que encontrarás con la tarea. Uno de ellos contiene un dataset con el precio mensual de la cuenta de Netflix por países. El otro contiene datos sobre los salarios por países. El objetivo de esta actividad es contestar a la siguiente pregunta. ¿Existe relación entre la media o la mediana de los salarios de los países y la cuota mensual que se paga por Netflix?

Debes escribir un programa que realice las siguientes tareas:

1. Importar los dos datasets adjuntos con la tarea y guardarlos en dos Dataframes. Analiza los datos.
2. Crea un DataFrame que incluya una columna con el coste mensual de Netflix, otra con el salario medio y otra con la mediana.
3. Normaliza los datos del DataFrame creado en el punto 3. Normalizar los datos consiste en escalar los valores para que tengan un rango similar. En este caso nos sirve para poder comparar el coste mensual de Netflix con el salario de una persona (que tendrán inicialmente un rango muy distinto). Hay muchos métodos para normalizar. En pandas tenemos algunos métodos que puedes encontrar en el enlace a continuación. Puedes usar uno o probar varios. Si haces esto último debes hacer varios métodos.

https://www.geeksforgeeks.org/normalize-a-column-in-pandas/

4. Finalmente debes pintar una gráfica con los datos por países ya normalizados y contestar a la pregunta. ¿Existe relación entre lo que gana una persona en cada país y lo que debe pagar por Netflix?

In [12]:
import pandas as pd
import matplotlib as mat

# 1. Importar los datasets
df_suscripcion = pd.read_csv("Netflix subscription fee Dec-2021.csv")
df_salarios = pd.read_csv("salaries_by_country_2021.csv")

df_unido = df_suscripcion.merge(df_salarios, how="inner", left_on="Country", right_on="country")

# 2. Crear dataframe con coste mensual, salario medio y otra con la mediana.
paises = []
suscripcion = []
salario_medio = []
mediana = []
salario_medio_mes = []

for row in df_unido:
    paises = df_unido["Country"]
    suscripcion = df_unido["Cost Per Month - Standard ($)"]
    salario_medio = df_unido["meanIncome"]
    mediana = df_unido["medianIncome"]
    salario_medio_mes = df_unido["meanIncome"] / 12

df_conjunto = pd.DataFrame({"Country" : paises, "Coste suscripcion / mes" :  suscripcion, "Salario Medio" : salario_medio, "Salario Mensual" : salario_medio_mes, "Mediana" : mediana})
#print(df_conjunto)

# 3. Normalizar los datos consiste en escalar los valores para que tengan un rango similar. 
# En este caso nos sirve para poder comparar el coste mensual de Netflix con el salario de una persona. 
# Hay muchos métodos para normalizar. En pandas tenemos algunos métodos que puedes encontrar en el enlace a continuación. 

df_conjunto["Salario Medio Normalizado"] = (df_conjunto["Salario Medio"] - df_conjunto["Salario Medio"].mean()) / df_conjunto["Salario Medio"].std()
display(df_conjunto)

# 4. Deberemos de buscar relacion entre el salario y lo que cuesta comprar netflix en cada pais.
# Para ello deberemos de buscar la correlacion entre el coste de la suscripcion al mes y el salario medio
datos = df_conjunto[["Salario Mensual", "Coste suscripcion / mes"]]
datos.corr(method="pearson")

,Country,Coste suscripcion / mes,Salario Medio,Salario Mensual,Mediana,Salario Medio Normalizado
0,Argentina,6.30,6935,577.916667,5319,-0.689733
1,Australia,12.12,21329,1777.416667,17076,1.418005
2,Austria,14.67,20718,1726.500000,18405,1.328536
3,Belgium,15.24,17917,1493.083333,16157,0.918380
4,Bolivia,10.99,4787,398.916667,3631,-1.004268
5,Brazil,7.11,7654,637.833333,4559,-0.584448
6,Bulgaria,11.29,7474,622.833333,5696,-0.610806
7,Canada,11.87,22042,1836.833333,18652,1.522411
8,Chile,9.91,9304,775.333333,6293,-0.342836
9,Colombia,6.86,5201,433.416667,3259,-0.943645
10,Costa Rica,12.99,8440,703.333333,5457,-0.469353
11,Croatia,11.29,8008,667.333333,7196,-0.532611
12,Denmark,15.04,20304,1692.000000,17432,1.267913
13,Ecuador,10.99,5046,420.500000,3525,-0.966342
14,Estonia,11.29,12540,1045.000000,10651,0.131017
15,Finland,13.54,18742,1561.833333,16332,1.039187
16,France,15.24,19409,1617.416667,16372,1.136857
17,Germany,14.67,19730,1644.166667,16845,1.183861
18,Greece,12.42,8131,677.583333,6936,-0.514600
19,Guatemala,10.99,3103,258.583333,2036,-1.250859
20,Honduras,10.99,3109,259.083333,1959,-1.249980
21,Hungary,10.71,8613,717.750000,7684,-0.444020
22,Iceland,14.67,19300,1608.333333,17017,1.120895
23,India,6.61,1314,109.500000,0,-1.512825
24,Ireland,14.67,17938,1494.833333,14520,0.921455
25,Israel,15.05,13271,1105.916667,10866,0.238059
26,Italy,14.67,15547,1295.583333,13170,0.571337
27,Japan,13.13,17095,1424.583333,14255,0.798014
28,Latvia,11.29,9727,810.583333,7971,-0.280895
29,Lithuania,11.29,10479,873.250000,8267,-0.170779
30,Malaysia,10.65,10200,850.000000,7512,-0.211633
31,Mexico,10.43,4929,410.750000,3315,-0.983475
32,Moldova,11.29,3590,299.166667,3133,-1.179547
33,Netherlands,13.54,19690,1640.833333,17154,1.178004
34,Norway,12.17,25272,2106.000000,22684,1.995386
35,Paraguay,11.49,6373,531.083333,4334,-0.772027
36,Peru,8.56,4977,414.750000,3678,-0.976446
37,Philippines,9.14,2199,183.250000,1581,-1.383233
38,Poland,10.58,10155,846.250000,8885,-0.218222
39,Portugal,13.54,10316,859.666667,8439,-0.194647
40,Romania,11.29,5949,495.750000,5206,-0.834114
41,Russia,10.84,7275,606.250000,5504,-0.639946
42,Slovakia,11.29,8408,700.666667,7991,-0.474039
43,South Africa,10.05,4081,340.083333,1624,-1.107649
44,South Korea,11.47,14316,1193.000000,12507,0.391080
45,Spain,14.67,13822,1151.833333,11786,0.318743
46,Sweden,14.20,20193,1682.750000,17625,1.251659
47,Switzerland,20.46,25787,2148.916667,21490,2.070798
48,Taiwan,11.90,16355,1362.916667,13605,0.689654
49,Thailand,10.43,5670,472.500000,4356,-0.874969
50,Turkey,3.00,7267,605.583333,5251,-0.641117
51,Ukraine,8.46,5010,417.500000,4434,-0.971614
52,United Kingdom,13.20,18133,1511.083333,14793,0.950010
53,United States,13.99,25332,2111.000000,19306,2.004171
54,Uruguay,12.99,9888,824.000000,7533,-0.257320
55,Venezuela,10.99,3741,311.750000,2710,-1.157435

                         Salario Mensual  Coste suscripcion / mes
Salario Mensual                 1.000000                 0.699928
Coste suscripcion / mes         0.699928                 1.000000